* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Parte alta dell'intestazione */
.higher-flex {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

    /* LOGO DISCORD */
    .logo {
        width: 10%;
        margin-top: 1.5%;
    }


    /* NAVIGAZIONE HEADER */
    nav {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
    }

    .header-nav {
        text-decoration: none;
        color: white;
    }

        /* ACCEDI BUTTON */
        .accedi { 
            font-size: 15px;
            background-color: white;;
            border-radius: 40px;
            text-align: center;
            margin-top: 1%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10%;
            padding-left: 15px;
            padding-right: 15px;
        }
    
        .link-accedi {
            color: black;
            text-decoration: none;
        }
    

/* Testo principale */
.paragrafo-princ {
    width: 40%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

    .Titolo-Jumbo {
        font-size: 40px;
        margin-bottom: 5%;
    }

    p {
        font-size: 19px;
        line-height: 170%;
    }

/* Downloads&Browser */
.Downloads {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

    /* SCARICA PER MAC */
    .Scarica-Top {
        background-color: white;;
        border-radius: 40px;
        text-align: center;
        margin-top: 1%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .link-scarica-top {
        color: black;
        text-decoration: none;
    }

    /* APRI DISCORD NEL TUO BROWSER */
    .apri {
        background-color: black;;
        border-radius: 40px;
        text-align: center;
        margin-top: 1%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .link-apri  {
        color: white;
        text-decoration: none;
    }


/* Main */

.high-container {
    height: 800px;
    /* background-color: red; */
}

    .high-mid-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .img {
            width: 20%;
            min-height: 200px;
            margin-top: 120px;
        } 

        .testo-sx {
            width: 20%;
            min-height: 200px;
            margin-top: 120px;
        }

        .titolo-sx {
            font-size: 50px;
            margin-bottom: 7%;
        }

/* middle */
.mid-container {
    height: 800px;
    background-color: #E8E8E8;
}

    .mid-mid-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .img-reverse {
            margin-top: 5%;
            margin-right: 5%;
        }

        #mid-text {
            font-size: 19px;
        }

/* low */
.low-container {
    height: 800px;
}

.low-mid-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* end container */

.end-container {
    height: 1300px;
    background-color: #E8E8E8; 
    
}

    .end-mid-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        .end-img {
            width: 50%;
            min-height: 200px;
        }

            .paratext {
                width: 50%;
                text-align: center;
                min-height: 200px;
                margin-top: 120px;
            }

.button-file {
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    padding-top: 2%;
    width: 30%;
    min-height: 400px;
    margin-top: 120px;
    margin-bottom: 50%;
    text-align: center;
}

    .Ready {
        font-size: 25px;
    }

    /* SCARICA PER MAC */
    .Scarica-Bot {
        background-color: #5865f2;
        border-radius: 40px;
        text-align: center;
        width: 30%;
        margin-top: 5%;
        margin-left: 35%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .link-scarica-bot {
        color: white;
        text-decoration: none;
    }

/* footer */
footer {
    height: 1000px;
    background-color: #23272a;
}

    .row-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 7%;

    }

        .col-main {
            width: 20%;
            height: 200px;
            margin-top: 7%;
        }

        #col-testo-main {
            font-size: 50px;
            margin-bottom: 5%;
            color: #5865f2;
        }

        #Bandiera {
            width: 30px;
            float: left;
            vertical-align: middle;
            margin-right: 2%;
        }

        #Lingua {
            color: white;
        }

        .socialmedia {
            margin-top: 5%;
        }

        .socialmedia a {
            width: 100%;
            margin-right: 5%;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }

    .col {
         width: 10%;
        height: 200px;
        margin-top: 7%;
     }

        .sottotitolo {
            color: #5865f2;
        }

        .lista {
            margin-top: 10%; 
        }

        .col-link {
            padding-bottom: 10%;
        }

        .col-link a {
            text-decoration: none;
            color: white;
        }

    .footer-logs {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin-left: 5%;
         margin-right: 5%;
         border-top: 1px solid #5865f2;
    }

        .Registrati {
            font-size: 15px;
            background-color: #5865f2;
            border-radius: 40px;
            text-align: center;
            margin-top: 1%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10%;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .link-registrati {
            color: white;
            text-decoration: none;
        }